name: Build and Deploy

on:
  push:
    branches:
      - master
env:
  PROJECT_ID: ${{ secrets.GCE_PROJECT }}
  GCE_INSTANCE: backend
  GCE_INSTANCE_ZONE: asia-northeast1-b

jobs:
  setup-build-publish:
    name: Setup, Build, Publish
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Set up JDK
        uses: actions/setup-java@v1
        with:
          java-version: 14

      - name: Cache Maven packages
        uses: actions/cache@v2
        with:
          path: ~/.m2
          key: ${{ runner.os }}-m2-${{ hashFiles('**/pom.xml') }}
          restore-keys: ${{ runner.os }}-m2

      - name: Setup Databases
        run: docker-compose -f docker-compose-citest.yml up --build

      - name: Test with Maven
        run: mvn test -D spring.profiles.active=test test

      - name: Build with Maven
        run: mvn -B package -P prod --file pom.xml

      - name: Push to GitHub Packages
        uses: docker/build-push-action@v1
        with:
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
          registry: docker.pkg.github.com
          repository: seqaq/backend/spring
          tag_with_ref: true

      - name: Deploy
        run: |-
          gcloud compute instances update-container "$GCE_INSTANCE" \
            --zone "$GCE_INSTANCE_ZONE" \
            --container-image "https://docker.pkg.github.com/seqaq/backend/spring"
